<!--AUTHOR NAME : Nico Derilo-->
<!--THREADED PROJECT PHASE 1-->
<!--JUNE 2021-->
<!--GROUP 2-->

<section id="footer">
    <img src="/footerimage6.png" class="bottom-img">
    <div class="container">
       <div class="row">
           <div class="col-md-4 footer-box">
               <img src="/travelagentlogo.png">
               <p id="abouttravel">ABOUT US<br/>Lorem ipsum dolor sila Ut  exi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
           </div>
           <div class="col-md-4 footer-box">
               <p><b>CONTACT US</b></p>
               <p><i class="fa fa-map-marker" aria-hidden="true"></i>Travel Agency, Okotoks</p>
               <p><i class="fa fa-phone" aria-hidden="true"></i>+1(403)555-2255</p>
               <p><i class="fa fa-envelope" aria-hidden="true"></i>travelagency@gmail.com</p>
           </div>
           <div class="col-md-4 footer-box">
               <p><b>SUBSCRIBE FOR BEST DEALS</b></p>
               <input type="email" class"form-controls" placeholder=" Your Email"><br />
               <button type="button" class="btn btn-primary">SUBSCRIBE</button>
           </div>

       </div>
       <hr>
       <p class="copyright">Website Created by Group 2  |  Copyright 2021 &copy;</p>

    </div>
</section>