<!--AUTHOR NAME : Nico Derilo-->
<!--THREADED PROJECT PHASE 1-->
<!--JUNE 2021-->
<!--GROUP 2-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Agency | <%= title%></title>

    <!-- EXTERNAL CSS LINKS -START -->
    <link rel="stylesheet" href="/home.css">            <!--AUTHOR: Nico Derilo-->   
    <link rel="stylesheet" href="/flight.css">          <!--AUTHOR: Kathy Deng--> 
    <link rel="stylesheet" href="/vacation.css">        <!--AUTHOR: Vincent Payne--> 
    <link rel="stylesheet" href="/destinations.css">    <!--AUTHOR: Vincent Payne--> 
    <link rel="stylesheet" href="/thanks.css">          <!--AUTHOR: Vincent Payne--> 
    <link rel="stylesheet" href="/contacts.css">        <!--AUTHOR: Dillon Crowshoe-Patterson--> 
    <link rel="stylesheet" href="/404.css">             <!--AUTHOR: Nico Derilo--> 
    <!-- EXTERNAL CSS LINKS -END -->
    
    <!-- CSS BOOTSTRAP  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
   
    <link rel="icon" href="/travelagenticon.ico" type="image/ico" sizes="16x16">
    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap" rel="stylesheet">
    <!-- font awsome CDN  from w3 school link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>