
<!--AUTHOR NAME : Nico Derilo-->
<!--THREADED PROJECT PHASE 1-->
<!--JUNE 2021-->
<!--GROUP 2-->

<!DOCTYPE html>
<html lang="en">

         <%- include('./partials/head.ejs')%>  
       
    <body id="error">

         <%- include('./partials/nav.ejs')%>        <!--NAVBAR-->
         <%- include('./partials/carousel.ejs')%>   <!--SLIDESHOW-->  
   
         <section id="error">
            <div class="container text-center">
                <h2 id="error">404 ERROR</h2>
                <hr style="width: 50%;text-align:center; margin-left:25%">
                <p id="error">PAGE NOT FOUND</p>        
            </div>
         </section>
    
         <%- include('./partials/footer.ejs')%>     <!--FOOTER-->   
        
    </body>

</html>