<!--AUTHOR NAME : Vince Payne-->
<!--THREADED PROJECT PHASE 1-->
<!--JUNE 2021-->
<!--GROUP 2-->

<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')%>        <!--HEAD-->
<body>
    <%- include('./partials/nav.ejs')%>         <!--NAVBAR-->     
   <div id="thanksContainer">
       <h1 id="thanks">Thank you!</h1>
       <hr style="width: 50%;text-align:center; margin-left:25%">
       <p id="thanks">Please check your email for further instructions</p>
    </div>       
    <%- include('./partials/footer.ejs')%>      <!--FOOTER-->
</body>
</html>