<!--AUTHOR NAME : Imeromachi Obomagbaeghian-->
<!--THREADED PROJECT PHASE 1-->
<!--JUNE 2021-->
<!--GROUP 2-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
        <%- include('./partials/head.ejs')%>            <!--HEAD-->                        
    <body id="vacation">
        <%- include('./partials/nav.ejs')%>             <!--NAVBAR-->   
        <%- include('./partials/carousel.ejs')%>        <!--SLIDEBAR--> 

    <!-------------VACATION CONTENT---------------->
        <section id="vacation" class="vacation content">

            <div class="container text-center">           
                <h1 id="title">SEARCH VACATION PACKAGES</h1>   
            <div class="row"> 
                <div class="column1 col-xs-6 col-md-8 col-lg-8">
                    <div class="fpara">
                        <p>  We have various packages ranging from visits, to beautiful cities, to wonderful views of nature. There are exciting trips to take with beaches and great things to do that would make your time unforgettable.</p> 
                    </div>

                    <div class="photocnt">
                        <div class="bb">
                            <p>ENJOY YOUR VACATION!</p>
                        </div>
                        <img class="photos" src="/new.jpg">                        
                        <div class="aa">
                            <p>Kenya Tour package, Inclusive: Airport Pickup, Hotel 5 Star and sightseeing,from $900.00/person.</p>
                            <a href="/projreg.html">CLICK HERE TO BOOK!!</a>
                        </div>
                        <img class="photos" src="/Kenyar.jpg">                    
                        <div class="aa">
                            <p>South  island, New Zealand Tour package, Inclusive: Airport Pickup, Hotel 5 Star and sightseeing, from $900.00/person.</p>
                            <a href="/projreg.html">CLICK HERE TO BOOK!</a>
                        </div>
                        <img class="photos" src="/newzealand.jpg">                    
                        <div class="aa">
                            <p>London tour package, Inclusive: Airport Pickup, Hotel 5 Star and sightseeing, BOOK NOW!!from $1100.00/person.</p>
                            <a href="/projreg.html">CLICK HERE TO BOOK!</a>
                        </div>
                        <img class="photos" src="/newlondon.jpg">                    
                        <div class="aa">
                            <p>Maldives Tour package, Inclusive: Airport Pickup,Hotel 5 Star and sightseeing, BOOK NOW!!from $1400.00.</p>
                            <a href="/projreg.html">CLICK HERE TO BOOK!</a>
                        </div>
                        <img class="photos" src="/newmaldives.jpg" valign="middle" /> 
                        <div class="aa">
                            <p>Zanzibar Tour package, Inclusive: Airport Pickup, Hotel 5 Star and sightseeing, from $1400 /person.</p>
                            <a href="/projreg.html">CLICK HERE TO BOOK!</a>
                        </div>
                        <img class="photos" src="/zanzibar.jpg" valign="middle" />                    
                         <div class="aa">
                            <p>Family special starting from $4000 for 4.</p>
                            <a href="/projreg.html">CLICK HERE TO BOOK! </a>                    
                        </div>                   
                            <img class="photos" src="/mexico.jpg"/>                   
                        <a href="/projreg.html"></a>                  
                    </div>     
                   <h1 id="footmsg">We make your travel experience count!</h1> 
               <div class="cc">
                   <p>We are the one-stop place from booking to follow-up as we want to make it an unforgetable travel experience for you.</p>              
                   <p>You may want to chat with one of our agents, view contact info and register by clicking on the links above.</p>             
                   <p>Bon voyage!!</p> 
               </div>	
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script> 

        </section>    
        <%- include('./partials/footer.ejs')%> <!--FOOTER-->        
    </body>

</html>